body,
html {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-size: 21px;
  line-height: 2.05;
  color: #fff;
  background-image: url(../img/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  padding: 40px 0 20px;
  z-index: 10;
}

.header-logo {
  display: block;
  margin: 0 auto;
}

.title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.42;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #FF5873;
  text-shadow: 0px 4px 85px #FF2247;
  margin: 0;
}

.main-1 {
  position: relative;
  background: url(../img/main.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.main-1 .anchor {
  position: absolute;
  bottom: -40px;
  left: calc(50% - 63px);
}

.main-1__title {
  font-weight: 200;
  font-size: 101px;
  line-height: 1.05;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  max-width: 390px;
  margin-top: 0;
  margin-bottom: 40px;
}

.main-1__subtitle {
  position: relative;
  padding-left: 35px;
  font-size: 16px;
  line-height: 2.05;
  letter-spacing: 0.02em;
  max-width: 541px;
}

.main-1__subtitle::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #E32040;
  display: block;
  width: 3px;
  height: 100%;
}

.main-1__title span {
  font-weight: 700;
}

.main-1 .container,
.main-2 .container {
  display: flex;
}

.main-1__col-1 {
  margin-top: 355px;
  margin-bottom: 300px;
}

.main-1__col-2 {
  display: none;
}

.main-2 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.main-2 .container {
  gap: 30px;
}

.main-2__block {
  padding: 36px 60px 52px;
  background: linear-gradient(180deg, rgba(43, 8, 20, 0.56) 0%, rgba(55, 17, 36, 0.56) 100%);
  border: 3px solid rgba(255, 34, 71, 0.4);
  border-radius: 42px;
  font-weight: 200;
}

.main-2__block span {
  font-weight: 800;
}

.main-2__block li {
  margin-bottom: 12px;
}

.main-2__block li:last-child {
  margin-bottom: 0;
}

.main-2__title {
  margin-bottom: 23px;
}

.main-2__col-1 {
  flex: 0 1 512px;
  min-width: 512px;
}

.main-2__col-2 {
  flex: 0 1 100%;
}

.container {
  max-width: 1440px;
  padding: 0 30px;
  box-sizing: border-box;
  margin: 0 auto;
}

.slider {
  position: relative;
}

.footer__title {
  text-align: center;
  margin-bottom: 10px;
}

.footer__row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__item {
  display: block;
  width: max-content;
  max-width: 330px;
}

.footer__item img{
  width: 100%;
  height: auto;
}

.swiper {
  width: calc(1400px - 572px);
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 434px;
  width: calc(1400px - 572px);
  border: 3px solid rgba(255, 34, 71, 0.4);
  border-radius: 42px;
  box-sizing: border-box;
}

.mySwiper {
  height: 108px;
  box-sizing: border-box;
  margin: 30px 0 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  border-radius: 26px;
  overflow: hidden;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.anchor {
  display: block;
  margin: 0 auto;
  width: max-content;
}

.swiper-button-prev,
.swiper-button-next {
  width: 75px;
  height: 75px;
}

.swiper-button-next {
  right: -37px;
}

.swiper-button-prev {
  left: -37px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: '' !important;
  background-size: cover;
  width: 75px;
  height: 75px;
}

.swiper-button-prev:after {
  background-image: url(../img/arrow-left.svg);
}

.swiper-button-next:after {
  background-image: url(../img/arrow-right.svg);
}

@media(max-width: 1440px) {

  .main-1 .container,
  .main-2 .container {
    flex-direction: column;
  }

  .main-2 .container {
    gap: 60px;
  }

  .main-2 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .main-2__col {
    flex: 0 1 auto;
    min-width: auto;
  }

  .main-2__col-1 {
    order: 2;
  }

  .main-2__col-1 {
    order: 1;
  }

  .mySwiper2,
  .swiper {
    width: auto;
  }

  .mySwiper {
    padding: 10px 0 0;
  }

  .footer__row {
    flex-wrap: wrap;
    justify-content: center;

  }
}

@media(max-width: 767px) {
  .main-1 {
    background-position: 66%;
  }

  .main-1__title {
    font-size: 60px;
  }

  .header-logo {
    max-width: 100%;
  }

  .container {
    padding: 0 15px;
  }

  .main-2__block {
    padding: 20px;
  }

  .main-2__block li {
    margin-bottom: 0;
  }

  .swiper-button-next {
    right: -27px;
  }

  .swiper-button-prev {
    left: -27px;
  }

  .header {
    padding: 30px 0 0;
  }

  .main-1__col-1 {
    margin-top: 200px;
    margin-bottom: 80px;
  }

  .main-1__subtitle {
    padding-left: 20px;
  }
}